* {
box-sizing: border-box;
}
body {
    background-color: #EDECEC;
direction: rtl;
}
head {
    /* border-radius: 5px; */
}
.head-1 { 
 margin:0% 3%;
text-align: center;
height: 60px;
background-color:#102F49;
border-radius: 5px;
}
.head-1 h2{
    margin:0;
    color: white;
}
.head-2 { 
     margin:0 3%;
    position: sticky;
    top:0px;
    padding:20px;
    background-color:#282A35 ;
    border-radius: 5px;
}
.head-2 form{
float:left;
}
.head-2 a{
    color:white;
   font-size:17px;
}
.head-2 i:not(:last-child){
    color:white;
    font-size: 17px;
}

.ever-cell {
  float : right;
  width:20%;
  margin : 3% 2.5%;
  text-align: center;
  border-radius: 15px;
  height: 200px;
  position: relative;    /* برای قرار گرفتن اسم second  نویسده روی عکس */
}
.first {
  height: 200px;
  margin-bottom: 0%;
}
.img1 {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.second {
    border-radius: 10px;
    width : 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: rgb(237, 241, 243);
}
.ever-cell:hover .second {
opacity: 1;
background-image: linear-gradient(to top,rgba(4, 0, 0, 0.391),rgba(235, 228, 228, 0.087));
}
.hover {
    position: fixed;
    left:0;
    top:100px;
    background-color: #EDECEC;
    opacity:0;
}
.third {
    display : none;
    width: 900px;
    height:400px;
    background-color:#102F49;
    position: fixed;
    top:150px;
    right:200px;
    border-radius: 10px;
    opacity: .8;
}
.third-1 {
    width: 50%;
    float: right;
    padding : 20px;
    font: 200 oblique ;
    color: white;
    margin : 100px 0;
}
.third-2 {
    margin:10% 5%;
    float :left;
    width: 40%;
    background-image: radius-gradient (to top  rgb(25, 85, 102), rgb(175, 17, 17));
}
.img2 {
    width: 100%;
    border-radius: 10px;
    float :left;
    height: 200px;
}
.ever-cell:hover  .third {
    display : block;
}
/* .all {opacity: 1;} */
.books:hover .img1{
opacity: 0.03;
}

.clearfix {
    clear :left;
}

.teaser {
    float: right;
    width:27%;
    margin:3.16%;
    background-color: rgb(18, 159, 159);
    text-align: center;
    border-radius: 10px;
    opacity: .07;
}
.teaser:hover {
    opacity: .43;
}
/* .teaser video{
    width:"320px"; 
    height:"140px";
} */


.footer {
    float:right;
    background-color: #102F49;
    color :white;
    width: 94% ;
    height: 60px;
    margin :5%%;
    text-align: center;

}
